@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(img/bg2.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	background-position:absolute;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.navbar .logo{
	width: 8opx;
	height: 80px;
	padding: 5px 5px;
}
.navbar .logo1{
	height: 80px;
	padding: 5px 5px;
}

.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: red;
	border-radius: 2px;
}

.wrapper .animated-text{
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: transparent;
  padding: 0 40px;
  height: 60px;
  overflow: hidden;
}

.line{
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 70px;
width: 900px;
font-weight: bold;
 text-shadow: 4px 4px red;
}

.line:first-child{
  animation: anim 8s infinite;
}

@keyframes anim {
  0%{
    margin-top: -15px;
  }
 
  50%{
    margin-top: 60px;
}

  100%{
    margin-top: -15px;
  }
}

.wrapper .center{
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h2{
	color: white;
	font-size: 35px;
	margin-top: 10px;
	width: 800px;
	text-align: center;
	text-shadow: 2px 2px black;
}
.center a{
	text-shadow: 1px 1px black;
	position:relative;
	display:inline-block;
	padding:15px 30px;
	color: blue;
	text-transformation:uppercase;
	letter-spacing:4px;
	text-decoration:none;
	font-size:24px;
	overflow:hidden;
	transition:0.2s;
}
.center a:hover{
color:skyblue;
background:blue;
box-shadow:0 0 10px blue,0 0 40px blue,0 0 80px blue;
transition-delay:1s;
}
.center a span{
position:absolute;
display:block;
}
.center a span:nth-child(1){
top:0;
left:-100%;
width:100%;
height:2px;
background:linear-gradient(90deg,transparent,blue);
}
.center a:hover span:nth-child(1){
left:100%;
transition:1s;
}
.center a span:nth-child(3){
bottom:0;
right:-100%;
width:100%;
height:2px;
background:linear-gradient(270deg,transparent,blue);
}
.center a:hover span:nth-child(3){
right:100%;
transition:1s;
transition-delay:0.5s;
}
.center a span:nth-child(2){
top:-100%;
right:0;
width:2px;
height:100%;
background:linear-gradient(180deg,transparent,blue);
}
.center a:hover span:nth-child(2){
top:100%;
transition:1s;
transition-delay:0.25s;
}
.center a span:nth-child(4){
bottom:-100%;
left:0;
width:2px;
height:100%;
background:linear-gradient(360deg,transparent,blue);
}
.center a:hover span:nth-child(4){
bottom:100%;
transition:1s;
transition-delay:0.75s;
}

footer
{
	position: fixed;
	width:100%;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: black;
}
a{
	color:skyblue;
}


.wrapper .para{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: courier;
	user-select: none;
}
.para h1{
	color: DodgerBlue;
	font-size: 50px;
	width: 900px;
	font-weight: bold;
	text-align: center;
	 text-shadow: 2px 2px black;
}
.para p{
	color: white;
	font-size: 30px;
	width: 900px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px black;
}

.work{
	font-family:courier;
	position:static;
	background-size: cover;
	background-attachment:fixed;
}
.work h1{
	color: yellowgreen;
	font-size: 50px;
	width: 900px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px black;
}
.work h2{
	color:blue;
	font-size: 30px;
	width: 900px;
	font-weight: bold;
	text-align: left;
	text-shadow: 2px 2px white;
}

.work img{
	 border: 1px solid #ddd;
 	 border-radius: 4px;
  	padding: 5px;
 	 width: 550px;
}

	
.work p{
	color: black;
	font-size: 20px;
	width: 900px;
	text-align: center;
	font-weight: bold;
	text-shadow: 2px 2px white;
}
.wrapper .pay{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: courier;
	user-select: none;
}

.pay h1{
	color: DodgerBlue;
	font-size: 50px;
	width: 900px;
	font-weight: bold;
	text-align: center;
	 text-shadow: 2px 2px black;
}
.pay p{
	color: red;
	font-size: 30px;
	width: 900px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px white;
}

.wrapper .contact-form{
  width: 75%;
  max-width: 500px;
  background: #f1f1f1;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat",sans-serif;
}
.contact-form h1{
	color: black;
	font-size: 40px;
	width: 410px;
	font-weight: bold;
	text-align: center;
	 text-shadow: 3px 3px white;

}
.txtb{
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn{
  display: inline-block;
  background: DodgerBlue;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

